/** ************************************* **
	@Author			Acto Design
	@Website		http://actodesign.com
	@Created	10:35 PM Monday, May 11, 2015
	TABLE CONTENTS
	---------------------------
		01. Font & Background Colors
		02. Font Sizes
		03. Spacing/Dividers
		04. Title/Headings
		05. Buttons
		06. General Styling
	---------------------------
 ** ************************************* **/
/**	01. Font & Background Colors
*************************************************** **/
body {
  padding-top: 50px;
}
.color-dark-grey {
    color: #2a2a2a !important;
}
.color-light-grey {
    color: #888888 !important;
}
.color-white {
    color: #fff;
}
.color-black {
    color: #292929;
}
.bg-light-green {
    background: #58cd82;
}
.bg-dark-green {
    background: #5abd7d;
}
.bg-light-grey {
    background: #e0e6e2;
}
.bg-dark-grey {
    background: #7d7d7d;
}
.bg-purple {
    background: #75578e;
}
.bg-light-coffee {
    background: #8f6d59;
}
.bg-light-ultramarine {
    background: #373778;
}
.btn-success {
    background: #5abd7d;
    border-color: #5abd7d;
    text-transform: uppercase;
    padding: 13px 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    min-width: 175px;
}
/** ************************************* **/
/**	02. Font Sizes
*************************************************** **/
.font-11 {
    font-size: 11px;
}
.font-20 {
    font-size: 20px;
}
.font-22 {
    font-size: 22px;
}
.font-14 {
    font-size: 14px;
}
.font-17 {
    font-size: 17px;
}
.font-30 {
    font-size: 30px;
}
.font-40 {
    font-size: 40px;
}
.font-95 {
    font-size: 95px;
}
.font-27 {
    font-size: 27px;
}
.fw-300 {
    font-weight: 300;
}
.fw-700 {
    font-weight: 700;
}
.img-100 img,.img-100{
    width: 100%;
}
/** ************************************* **/
/**	03. Spacing/Dividers
*************************************************** **/
.space10 {
    float: left;
    width: 100%;
    height: 10px;
}
.space20 {
    float: left;
    width: 100%;
    height: 20px;
}
.space30 {
    float: left;
    width: 100%;
    height: 30px;
}
.space40 {
    float: left;
    width: 100%;
    height: 40px;
}
.space50 {
    float: left;
    width: 100%;
    height: 50px;
}
.space60 {
    float: left;
    width: 100%;
    height: 60px;
}
.space70 {
    float: left;
    width: 100%;
    height: 70px;
}
.space80 {
    float: left;
    width: 100%;
    height: 80px;
}
.space90 {
    float: left;
    width: 100%;
    height: 90px;
}
.space100 {
    float: left;
    width: 100%;
    height: 100px;
}
.space110 {
    float: left;
    width: 100%;
    height: 110px;
}
.space120 {
    float: left;
    width: 100%;
    height: 120px;
}
.space130 {
    float: left;
    width: 100%;
    height: 130px;
}
.space140 {
    float: left;
    width: 100%;
    height: 140px;
}
.space150 {
    float: left;
    width: 100%;
    height: 150px;
}
.full-width {
    width: 100%;
    float: left;
}
.padding-0 {
    padding: 0px;
}
.divider-green-5 {
    float: left;
    width: 100%;
    height: 5px;
    background: #5fdd8c;
    margin: 10px 0px;
}
.divider-green-4 {
    float: left;
    width: 100%;
    height: 4px;
    background: #5fdd8c;
    margin: 10px 0px;
}
.divider-green-3 {
    float: left;
    width: 100%;
    height: 3px;
    background: #5fdd8c;
    margin: 10px 0px;
}
.divider-green-2 {
    float: left;
    width: 100%;
    height: 2px;
    background: #5fdd8c;
    margin: 10px 0px;
}
.divider-green-1 {
    float: left;
    width: 100%;
    height: 1px;
    background: #5fdd8c;
    margin: 10px 0px;
}
.divider-grey-5 {
    float: left;
    width: 100%;
    height: 5px;
    background: #d9d9d9;
    margin: 10px 0px;
}
.divider-grey-4 {
    float: left;
    width: 100%;
    height: 4px;
    background: #d9d9d9;
    margin: 10px 0px;
}
.divider-grey-3 {
    float: left;
    width: 100%;
    height: 3px;
    background: #d9d9d9;
    margin: 10px 0px;
}
.divider-grey-2 {
    float: left;
    width: 100%;
    height: 2px;
    background: #d9d9d9;
    margin: 10px 0px;
}
.divider-grey-1 {
    float: left;
    width: 100%;
    height: 1px;
    background: #d9d9d9;
    margin: 10px 0px;
}
/** ************************************* **/
/**	04. Title/headings
*************************************************** **/
h1.title {
    font-size: 40px;
    color: #2a2a2a;
    font-weight: 700;
    margin-bottom: 50px;
    text-transform: uppercase;
}
h1.title.white {
    color: #fff;
}
h1.title:before {
    content: "";
    background: url("images/ui-elements/title-cross-dark.png") no-repeat center;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #2a2a2a;
    padding-right: 65px;
    padding-top: 0px;
}
h1.title.white:before {
    content: "";
    background: url("images/ui-elements/title-cross-white.png") no-repeat center;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    padding-right: 65px;
    padding-top: 0px;
}
h1.title.white:after {
    content: "";
    background: url("images/ui-elements/title-cross-white.png") no-repeat center;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    padding-left: 65px;
    padding-top: 0px;
}
h1.title:after {
    content: "";
    background: url("images/ui-elements/title-cross-dark.png") no-repeat center;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #2a2a2a;
    padding-left: 65px;
    padding-top: 0px;
}
/** ************************************* **/
/**	05. Buttons
*************************************************** **/
.btn.btn-light-purple {
    background: url("images/ui-elements/btn-light-purple.png") no-repeat center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    width: 115px;
    height: 115px;
    border: 0px;
    outline: none;
    word-wrap: break-word;
    white-space: pre-line;
    padding-top: 35px;
    text-shadow: none;
    box-shadow: none;
}
.btn {
    font-family: 'Montserrat', sans-serif;
    text-shadow: none;
}
.btn.btn-light-purple:hover {
    background: url("images/ui-elements/btn-dark-purple.png") no-repeat center;
}
.btn.btn-border-purple-light {
    color: #7b34b7;
    border: 1px solid #7b34b7;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
}
.btn.btn-border-purple-light:hover {
    background: #7b34b7;
    color: #fff;
}
.btn.btn-light-purple .fa {
    font-size: 24px;
    margin-top: 8px;
}
.btn.btn-fill-white-purple {
    color: #7b34b7;
    border: 1px solid #fff;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 5px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
    background: #fff;
}
.btn.btn-fill-white-purple:hover {
    background: #7b34b7;
    color: #fff;
    border-color: #7b34b7;
}
.btn.btn-fill-white-green {
    color: #5fdd8c;
    border: 1px solid #fff;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
    background: #fff;
}
.btn.btn-fill-white-green:hover{
    background: #5fdd8c;
    color: #fff;
    border-color: #5fdd8c;
}
.divider-green {
    float: left;
    width: 100%;
    height: 5px;
    background: #5fdd8c;
    margin: 10px 0px;
}
.btn.btn-border-white {
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
}
.btn.btn-border-white .fa {
    padding: 0px 3px;
    font-size: 21px;
}
.btn.btn-border-white:hover {
    border: 1px solid #7b34b7;
    color: #7b34b7;
}
/** Coffee Colors **/
.btn.btn-light-yellow {
    background: url("images/ui-elements/btn-light-yellow.png") no-repeat center;
    color: #543618;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    width: 115px;
    height: 115px;
    border: 0px;
    outline: none;
    word-wrap: break-word;
    white-space: pre-line;
    padding-top: 35px;
    text-shadow: none;
    box-shadow: none;
}
.btn.btn-light-pink {
    background: url("images/ui-elements/btn-light-pink.png") no-repeat center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    width: 115px;
    height: 115px;
    border: 0px;
    outline: none;
    word-wrap: break-word;
    white-space: pre-line;
    padding-top: 35px;
    text-shadow: none;
    box-shadow: none;
}
.btn.btn-border-coffee-light {
    color: #835923;
    border: 1px solid #835923;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
}
.btn.btn-border-coffee-light:hover {
    background: #835923;
    color: #fff;
}
.btn.btn-fill-white-coffee {
    color: #835923;
    border: 1px solid #fff;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 5px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
    background: #fff;
}
.btn.btn-fill-white-coffee:hover {
    background: #835923;
    color: #fff;
    border-color: #835923;
}
.divider-yellow {
    float: left;
    width: 100%;
    height: 5px;
    background: #ffd852;
    margin: 10px 0px;
}
.btn.btn-border-pink-light {
    color: #ff7777;
    border: 1px solid #ff7777;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
}
.btn.btn-border-pink-light:hover {
    background: #ff7777;
    color: #fff;
}
.btn.btn-fill-white-pink {
    color: #ff7777;
    border: 1px solid #fff;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 5px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
    background: #fff;
}
.btn.btn-fill-white-pink:hover {
    background: #ff7777;
    color: #fff;
    border-color: #ff7777;
}
.btn.btn-fill-white-pink {
    color: #ff7777;
    border: 1px solid #fff;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
    background: #fff;
}
.btn.btn-fill-white-pink:hover {
    background: #ff7777;
    color: #fff;
    border-color: #ff7777;
}
.btn.btn-light-coffee .fa {
    font-size: 24px;
    margin-top: 8px;
}
.btn.btn-light-coffee {
    background: url("images/ui-elements/btn-coffee.png") no-repeat center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    width: 115px;
    height: 115px;
    border: 0px;
    outline: none;
    word-wrap: break-word;
    white-space: pre-line;
    padding-top: 35px;
    text-shadow: none;
    box-shadow: none;
}
.btn.btn-light-pink .fa {
    font-size: 24px;
    margin-top: 8px;
    color: #fff;
}
.divider-ultramarine {
    float: left;
    width: 100%;
    height: 5px;
    background: #8282dd;
    margin: 10px 0px;
}
.btn.btn-light-orange {
    background: url("images/ui-elements/btn-light-orange.png") no-repeat center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    width: 115px;
    height: 115px;
    border: 0px;
    outline: none;
    word-wrap: break-word;
    white-space: pre-line;
    padding-top: 35px;
    text-shadow: none;
    box-shadow: none;
}
.btn.btn-fill-white-red {
    color: #c24949;
    border: 1px solid #fff;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
    background: #fff;
}
.btn.btn-fill-white-red:hover {
    background: #c24949;
    color: #fff;
    border-color: #c24949;
}
.btn.btn-border-orange-light {
    color: #d06721;
    border: 1px solid #d06721;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
}
.btn.btn-border-orange-light:hover {
    background: #d06721;
    color: #fff;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.btn.btn-light-green {
    background: url("images/ui-elements/btn-green.png") no-repeat center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    width: 115px;
    height: 115px;
    border: 0px;
    outline: none;
    word-wrap: break-word;
    white-space: pre-line;
    padding-top: 35px;
    text-shadow: none;
    box-shadow: none;
}
.btn.btn-border-green-light {
    color: #5fdd8c;
    border: 1px solid #5fdd8c;
    font-size: 16px;
    text-decoration: none;
    min-width: 175px;
    padding: 13px 12px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
}
.btn.btn-border-green-light:hover {
    background: #5fdd8c;
    color: #fff;
}
.btn.btn-load-more-purple {
    background: url("images/ui-elements/btn-load-more.png") no-repeat center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    width: 115px;
    height: 115px;
    border: 0px;
    outline: none;
    word-wrap: break-word;
    padding-top: 35px;
    text-shadow: none;
    box-shadow: none;
    text-indent: -9999px;
}
/** Small Buttons **/
.btn.btn-border-green-small {
    color: #5fdd8c;
    border: 1px solid #5fdd8c;
    font-size: 14px;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
}
.btn.btn-border-green-small:hover {
    background: #5fdd8c;
    color: #fff;
}
.btn.btn-border-coffee-small {
    color: #835923;
    border: 1px solid #835923;
    font-size: 14px;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
}
.btn.btn-border-coffee-small:hover {
    background: #835923;
    color: #fff;
}
.btn.btn-border-orange-small {
    color: #d06721;
    border: 1px solid #d06721;
    font-size: 14px;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
}
.btn.btn-border-orange-small:hover {
    background: #d06721;
    color: #fff;
}
.btn.btn-border-purple-small {
    color: #7b34b7;
    border: 1px solid #7b34b7;
    font-size: 14px;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    margin-top: 5px;
}
.btn.btn-border-purple-small:hover {
    background: #7b34b7;
    color: #fff;
}
.btn.btn-light-purple .fa,.btn.btn-light-green .fa,.btn.btn-light-orange .fa,.btn.btn-light-yellow .fa {
    font-size: 24px;
    margin-top: 8px;
}
.social.purple a {
    background: #7b34b7;
}
.social.purple a:hover {
    background: #cecece;
}
.btn-border-coffee-light.btn-like,.btn-border-orange-light.btn-like,.btn-border-green-light.btn-like,.btn-border-pink-light.btn-like,.btn-border-purple-light.btn-like {
    min-width: 50px;
}
/** ************************************* **/
/**	06. General Styling
*************************************************** **/
.link-fill-green {
    display: inline-block;
    color: #fff;
    background: #5fdd8c;
    padding: 2px 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
.link-fill-orange {
    display: inline-block;
    color: #fff;
    background: #d06721;
    padding: 2px 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
.link-fill-purple {
    display: inline-block;
    color: #fff;
    background: #7b34b7;
    padding: 2px 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
.link-fill-yellow {
    display: inline-block;
    color: #fff;
    background: #ffd852;
    padding: 2px 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
.link-fill-coffee {
    display: inline-block;
    color: #fff;
    background: #835923;
    padding: 2px 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
.link-fill-pink {
    display: inline-block;
    color: #fff;
    background: #ff7777;
    padding: 2px 5px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
/** Pagination Styles **/
.pagination a {
    color: #5b5b5b;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    width: 52px;
    height: 52px;
    line-height: 52px;
}
.pagination.pagination-style1 a.active, .pagination.pagination-style1 a:hover {
    background: url("images/ui-elements/portfolio-pagination.png") no-repeat center center;
    color: #5abd7d;
}
.pagination.pagination-style2 a.active, .pagination.pagination-style2 a:hover {
    background: url("images/ui-elements/pagination-style2.png") no-repeat center center;
    color: #7b34b7;
}
.pagination.pagination-style3 a.active, .pagination.pagination-style3 a:hover {
    background: url("images/ui-elements/pagination-style3.png") no-repeat center center;
    color: #fff;
}
.pagination.pagination-style4 a.active, .pagination.pagination-style4 a:hover,.pagination.pagination-style4 a:hover .fa {
    background: url("images/ui-elements/pagination-style3.png") no-repeat center center;
    color: #fff !important;
}
.pagination.pagination-style4 .fa {
    color: #7b34b7;
}
.pagination.pagination-style5 a.active, .pagination.pagination-style5 a:hover {
    background: url("images/ui-elements/pagination-style3.png") no-repeat center center;
    color: #fff;
}
.pagination.pagination-style6 {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px 20px;
}
.pagination.pagination-style6 a.active, .pagination.pagination-style6 a:hover {
    color: #5abd7d;
}
a.first-child {
    float: left;
}
a.last-child {
    float: right;
}
.table-striped thead {
    background: #7b34b7;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    text-shadow: none;
    text-transform: uppercase;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}
.table.table-striped>tbody>tr>th,.table.table-striped>tbody>tr>td {
    border: 0px;
}
.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #fbfbfb;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 20px;
}
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}
.table-bordered {
    border: 10px solid #d5d5d5;
}
.table-bordered thead {
    color: #7b34b7;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: none;
    text-transform: uppercase;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 0px;
}
.table-bordered tbody {
    border-top: 2px solid #7b34b7;
}
.bs-example {
    float: left;
}
.vertical-fill {
    float: left;
    width: 100%;
}
.vertical-fill ul {
    list-style: none;
    padding-left: 0px;
}
.vertical-fill ul li {
    float: left;
    width: 100%;
    padding: 30px 15px;
    color: #fff;
    text-align: center;
}
.vertical-fill.purple ul li.dark {
    background: #7b34b7;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.vertical-fill.purple ul li.light {
    background: #8840c5;
}
.vertical-fill.purple ul li.lighter {
    background: #9a4bdd;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.vertical-fill.green ul li.dark {
    background: #34b462;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.vertical-fill.green ul li.light {
    background: #58cd82;
}
.vertical-fill.green ul li.lighter {
    background: #77d990;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
/** List Style 1 **/
ul.list-style1 {
    list-style: none;
    padding-left: 0px;
    color: #606060;
}
ul.list-style1 li a {
    color: #606060;
}
ul.list-style1 li {
    float: left;
    width: 100%;
    padding: 7px 0px 8px 0px;
}
ul.list-style1 li:before {
    content: '\f10c';
    font-family: 'fontawesome';
    color: #7b34b7;
    font-size: 12px;
    padding-right: 10px;
}
ul.list-style1 li a:hover {
    color: #333;
}
/** List Style 2 **/
ul.list-style2 {
    list-style: none;
    padding-left: 0px;
    color: #606060;
}
ul.list-style2 li a {
    color: #606060;
}
ul.list-style2 li {
    float: left;
    width: 100%;
    padding: 7px 0px 8px 0px;
}
ul.list-style2 li:before {
    content: '\f111';
    font-family: 'fontawesome';
    color: #7b34b7;
    font-size: 12px;
    padding-right: 10px;
}
ul.list-style2 li a:hover {
    color: #333;
}
/** List Style 3 **/
ul.list-style3 {
    list-style: none;
    padding-left: 0px;
    color: #606060;
}
ul.list-style3 li a {
    color: #606060;
}
ul.list-style3 li {
    float: left;
    width: 100%;
    padding: 7px 0px 8px 0px;
}
ul.list-style3 li:before {
    content: '';
    color: #7b34b7;
    background: #7b34b7;
    font-size: 8px;
    height: 10px;
    width: 10px;
    margin-right: 10px;
    margin-top: 0px;
    display: inline-block;
}
ul.list-style3 li a:hover {
    color: #333;
}
/** List Style 4 **/
ol.list-style4 {
    counter-reset: anaheim-counter;
}
ol.list-style4 {
    list-style: none;
    padding-left: 0px;
    color: #606060;
}
ol.list-style4 li a {
    color: #606060;
}
ol.list-style4 li {
    float: left;
    width: 100%;
    padding: 7px 0px 8px 0px;
}
ol.list-style4 li:before {
    content: counter(anaheim-counter);
    counter-increment: anaheim-counter;
    color: #fff;
    background: #7b34b7;
    width: auto;
    height: auto;
    font-size: 9px;
    margin-right: 10px;
    margin-top: 0px;
    padding: 2px 5px;
    display: inline-block;
}
ol.list-style4 li a:hover {
    color: #333;
}
/** Quotes Styles **/
blockquote.qs-2 {
    background: none;
    border: 3px solid #7b34b7;
}
blockquote.qs-2:before {
    content: '\f0a1';
    background: none;
    font-family: 'fontawesome';
    text-align: center;
    width: 100px;
    height: 100px;
    color: #7b34b7;
    font-size: 28px;
    position: absolute;
    left: 0px;
    top: 22px;
}
blockquote.qs-3 {
    background: #7b34b7;
    color: #fff;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    padding-bottom: 30px;
}
blockquote.qs-3:before {
    content: '\f0a7';
    background: none;
    font-family: 'fontawesome';
    text-align: center;
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 28px;
    float: left;
}
/** Tabs Style **/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #7b34b7;
    border-color: #7b34b7;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.nav-tabs {
    border-bottom: 1px solid #7b34b7;
}
.nav-tabs>li>a:hover,.nav-tabs>li>a:focus {
    border-color: #eee #eee #ddd;
    background: none;
    color: #7b34b7;
}
.tab-content {
    margin-top: 25px;
}